<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <head>
    <title>pyBus Web</title>
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="static/js/admin_control.js" ></script>
    <script type="text/javascript" src="static/js/paging.js" ></script>
    <link href="static/css/bootstrap.min_slate.css" rel="stylesheet">
    <link href="static/css/DT_bootstrap.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 15px;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">PyBus</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">DashBoard</a></li>
              <li><a href="/media">Media</a></li>
              <li class="active"><a href="#">Admin</a></li>
              <li><a href="/system">System</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <br><br>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span6 well">
          <div class="alert alert-block">
            <h4>Update Media Library
              <a href="#" id="update_action" class="btn btn-large pull-right">Update</a>
            </h4>
            <p>Forces MPD to rescan the current music library</p>
          </div>
          <div class="alert alert-block">
            <h4>Upload PyBus Package
              <a href="#" id="upload_action" class="btn btn-large pull-right">Upload</a>
            </h4>
            <p>Upload an archive of the latest pyBus code (download from Github)</p>
          </div>
          <div class="alert alert-block">
            <h4>Git Pull
              <a href="#" id="gitpull_action" class="btn btn-large pull-right">Pull</a>
            </h4>
            <p>Pull a particular (probably hardcoded) branch of pybus</p>
          </div>
        </div>
        <div class="span6 well">
          <h4>PyBus Status</h4>
          <hr>
          <pre id="admin_status">
          </pre>s
        </div>
      </div> <!-- End Row -->
    </div> <!-- End Container -->
     
    <br>
     
  </body>
</html>