<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <head>
    <title>pyBus Web</title>
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="static/js/dashboard_control.js" ></script>
    <script type="text/javascript" src="static/js/paging.js" ></script>
    <link href="static/css/bootstrap.min_slate.css" rel="stylesheet">
    <link href="static/css/DT_bootstrap.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 15px;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">PyBus</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">DashBoard</a></li>
              <li><a href="/media">Media</a></li>
              <li><a href="/admin">Admin</a></li>
              <li><a href="/system">System</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
          <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active"><img src="static/img/background.jpg"></div>
          </div>
          <!-- Carousel nav -->
          <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> -->
          <!-- <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a> -->
        </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Welcome</h2>
           <p>Welcome to the PyBus web interface! Here you can navigate through various pages which will allow you to administer the pyBus software and other components. You will also be able to upload updates to the software and view logs.</p>
           <p>Have fun!</p>
        </div>
        <div class="span4">
          <h2>Background</h2>
           <p>I began this project after getting a BMW 320d and wishing I could play music from a memory stick. Since then, the project has evolved to include this web-interface, and add features to the car, such as locking/unlocking automatically and putting up the windows!</p>
          <p><a class="btn" href="http://blog.danielvagg.com/blog/?page_id=25">View blog post »</a></p>
       </div>
        <div class="span4">
          <h2>What Next?</h2>
          <p>Explore the features of the web-interface. Listen to loud music. Blow your speakers. Replace speakers. Rinse, and Repeat. Also view the latest code available on my github page!</p>
          <p><a class="btn" href="http://ezeakeal.github.com/pyBus/">View github page »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Daniel Vagg 2012</p>
      </footer>

    </div>
  </body>
</html>