<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Web interface for car media center">
    <meta name="author" content="Daniel Vagg">
    <link rel="icon" href="../../favicon.ico">
    <title>PyBus</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/dataTables.bootstrap.css" rel="stylesheet">

    <script type="text/javascript" src="static/js/jquery.js"></script>

    <script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="static/js/dataTables.bootstrap.js"></script>

    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/media_control.js" ></script>
    
  </head>