<thead>
	<th>Artist</th>
	<th>Album</th>
	<th>Title</th>
	<th>Action</th>
</thead>
<tbody>
{% for song in data %}
	{% block songLine %}
		<tr>
	        <td class="sorting_1">{{ song.get('artist') }}</td>
	        <td class="">{{ song.get('album') }}</td>
	        <td class="center">{{ song.get('title') }}</td>
	        <td class="center btn-group" filepath="{{ song.get('file') }}" name="actionButtons">
				<button plistaction="play" class="form-control btn btn-success"><span class="glyphicon glyphicon-play"/>Play</button>
	        </td>
		</tr>
	{% end %}
{% end %}
</tbody>