<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <head>
    <title>pyBus Web</title>
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="static/js/system_control.js" ></script>
    <script type="text/javascript" src="static/js/paging.js" ></script>
    <link href="static/css/bootstrap.min_slate.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="static/css/DT_bootstrap.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 15px;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">PyBus</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">DashBoard</a></li>
              <li><a href="/media">Media</a></li>
              <li><a href="/admin">Admin</a></li>
              <li class="active"><a href="#">System</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <br><br>

    <div class="container-fluid">
      <div class="row-fluid">
        
        <div class="span6 well">
          <h4>Manage</h4>
          
          <div id="sys_manage">
            <div id="sys_manage_supervisor">
              
            </div>
            <div class="well" id="sys_manage_proc">
              
            </div>
          </div>
        </div>

        <div class="span6 well">
          <div id="logOutput" class="collapse in">
            <h4>Log Output:</h4>
            <pre class="code" id="logOutput_pre" style="max-height:400px; overflow: auto">
            </pre>
          </div>
        </div>
      </div> <!-- End Row -->
    </div> <!-- End Container -->

  </body>
</html>